*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    flex-direction: column;
    gap: 2rem;
}

canvas{
    background-color: red;
}

button{
    padding: 1rem 2rem;
    font-weight: 800;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: black;
    border: none;
    border-radius: 10px;
    transition: background-color .3s, color .3s;
}

button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}